/* top-nav */
.myNavbar{
    background-color: #222;
    min-height: 40px;
    margin: 0;
    border: 0px;
}
#top-nav .nav>li>a{
    font-size: 12px;
    padding: 10px 5px;
}
#top-nav .nav>li>a:hover{
    color: #fff;
}
#top-nav .nav .rule a{
    padding: 10px 0;
}
#top-nav .nav .rule a:hover{
    color: #777;
}
#top-nav .nav .myDropdown div{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    height: 0px;
    text-align: center;
    transition: height 0.5s;
    overflow: hidden;
}
#top-nav .nav .myDropdown div a{
    display: none;
}
#top-nav .nav .myDropdown:hover div{
    height: 70px;
    line-height: 70px;
    border: 1px solid #ddd;
}
#top-nav .nav .myDropdown:hover div a{
    display: block;
}

/* top-search */
#top-search .myRow{
    height: 80px;
    margin: 20px 0 0 0;
}
#top-search .myUl{
    height: 100%;
    margin: 0;
    padding: 0;
}
#top-search .myUl li{
    float: left;
    width: 10%;
}
#top-search .myUl li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #000;
}
#top-search .myUl li a:hover{
    color: orange;
    text-decoration: none;
}
#top-search .myRight{
    height: 60px;
}
#top-search .myRight input{
    float: right;
    padding: 5px 10px;
    height: 50px;
    width: 200px;
}
#top-search .myRight button{
    float: right;
    width: 50px;
    height: 50px;
}
#top-search .myPull{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    background-color: #fff;
    transition: height 0.5s;
}
#top-search .active{
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 2px 2px #ddd;
    height: 240px;
}
#top-search .myPull .son {
    text-align: center;
    display: none;
}
#top-search .myPull .son img{
    width: 160px;
    height: 110px;
}

/* top-hero */
#top-hero .container{
    position: relative;
}
#top-hero .myLeft{
    height: 365.813px;
    background-color: #000;
    padding: 5px 0;
}
#top-hero .myLeft>ul>li a{
    display: inline-block;
    width: 90%;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    color: #fff;
}
#top-hero .myLeft>ul>li:hover{
    background-color: orange;
}
#top-hero .myLeft>ul>li:hover a{
    text-decoration: none;
}
#top-hero .myLeft>ul>li>span{
    font-size: 14px;
    color: #fff;
}
#top-hero .myLeft .myPull{
    display: none;
    height: 365.813px;
    width: 200px;
    position: absolute;
    left: 195px;
    top: 0;
    z-index: 2;
    background-color: #fff;
    padding-left: 15px;
}
#top-hero .myLeft .myContent{
    height: 60px;
    line-height: 60px;
}
#top-hero .myRow{
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
}
#top-hero .myContent{
    width: 800px;
}
#myNone{
    margin: 0;
    padding: 0;
}
#top-hero .myPull span{
    line-height: 18px;
    padding: 0 13px;
    display: inline-block;
    border: 1px solid orange;
    color: orange;
}
#top-hero .myLeft .myPull a{
    padding: 0;
    color: #000;
}
#top-hero .myPull a:hover{
    text-decoration: none;
    color: orange;
}
#top-hero .myRight{
    padding: 0;
}
